
.product-page-container {
    margin: 20px;
    border:black;
  }
  
  .head {
    display: flex;
    align-items: center;
    padding-left: 50%;
    background-color:grey;
  }
  
  .homepage-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

  }
  
  .product {
    text-align: center;
    border: #030000;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    animation: fade-in 0.5s ease;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .name {
    font-weight: bold;
  }
  
  .price {
    margin-bottom: 5px;
  }
  
  .rating {
    color: gray;
  }
  
  .add-to-cart-button {
    padding: 8px 16px;
    background-color:grey;
    color: #030000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  